@import '../components/variables.scss';

@import '~bulma/bulma.sass';

.contact-container {
  .card-container{
    .column {
      margin: 10px;
    }
    
    .card {
      background-color: white;
      padding: 5px;

      .card-content {
        .bold-text {
          font-weight: 700;
        }

        .email {
          font-weight: 300;
          font-size: .95em;
        }

        .link-container {
          margin: 10px 0;

          .links {
            color: $accent;
          }
  
          .links:hover {
            font-weight: 600;
          }
  
          .icons {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .contact-container {
    height: 100vh;
  }
}