@import '../components/variables.scss';

@import '~bulma/bulma.sass';

.main-name {
  background: $font-background;
  background-position: center;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: $main-name-font;
  font-size: 6em;
  padding: 15px;
}

.title, .main-subtitle, .learn-more-button {
  font-family: $main-headline-font;
}

.main-subtitle {
  padding-top: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image-container {
  max-width: 500px;
  min-width: 300px;

  .main-image {
    border-radius: 8px;
  }
}

.button-container {
  margin-top: 40px;
}

.learn-more-button, .learn-more-button:hover, .learn-more-button:focus {
  background: $font-background;
  color: $primary;
  text-decoration: none;
}
