@import '../components/variables.scss';

@import '~bulma/bulma.sass';

.main-name {
  background: $colorful-background;
  background-position: center;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: $accent-font;
  font-size: 6em;
  padding: 20px;
}

.title, .main-subtitle, .learn-more-button {
  font-family: $main-font;
}

.main-subtitle {
  padding-top: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image-container {
  max-width: 500px;
  min-width: 300px;

  .main-image {
    border-radius: 8px;
    -webkit-box-shadow: -4px 4px 15px 0px rgba(150,148,150,1);
    -moz-box-shadow: -4px 4px 15px 0px rgba(150,148,150,1);
    box-shadow: -4px 4px 15px 0px rgba(150,148,150,1);
  }
}

.button-container {
  margin-top: 40px;
}

.learn-more-button, .learn-more-button:hover, .learn-more-button:focus {
  background: $colorful-background;
  color: $primary;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .main-name {
    padding: 10px;
  }

  .main-image-container {
    max-width: 300px;
    min-width: 200px;
  }
}