@import '../components/variables.scss';

@import '~bulma/bulma.sass';

.level {
  background-image: $colorful-background;
  padding: 20px;

  .level-item {
    padding-right: 10px;

    .navbar-text {
      color: $primary;
      font-family: $main-font;
      font-size: 1.1em;
    }

    .nav-title {
      font-family: $accent-font;
    }
  }

  .level-item:hover {
    .navbar-text {
      color: black;
      font-weight: 900;
    }
  }
}