// Google Font import
@import url('https://fonts.googleapis.com/css?family=Montserrat|Yellowtail');

$primary: #f8f8f8;
$accent: #47236B;
$input-shadow: none;
$background: #fafafa;
$main-font: 'Montserrat', sans-serif;
$accent-font: 'Yellowtail', sans-serif;
$colorful-background: url(../images/cropped-meric-dagli.jpg);
