// Google Font import
@import url('https://fonts.googleapis.com/css?family=Montserrat|Dr+Sugiyama');

$primary: #f8f8f8;
$input-shadow: none;
$background: #fafafa;
$main-headline-font: 'Montserrat', sans-serif;
$main-name-font: 'Dr Sugiyama', sans-serif;
$font-background: url(../images/cropped-meric-dagli.jpg);
